<?xml version="1.0" encoding="utf-8"?>
<launch>
    <node pkg="perceptive_mpc" name="data_generator" type="perceptive_mpc_data_generator" output="screen"> <!-- launch-prefix="gdb -ex run &#45;&#45;args"-->
        <rosparam file="$(find perceptive_mpc)/config/interesting_points/world_1.yaml"/>
    </node>
</launch>