<?xml version="1.0"?>
<launch>
    <arg name="model_path" default="$(find gazebo_worlds)/.."/>
<!--    <arg name="world_path" default="$(find perceptive_mpc)/maps/fixed_table.world"/>-->
    <arg name="world_path" default="$(find perceptive_mpc)/maps/worlds/world_16_6.world"/>
<!--    <arg name="world_path" default="$(find perceptive_mpc)/maps/worlds/test.world"/>-->
    <param name="voxblox_ground_truth/voxel_size" value="0.05"/>
    <param name="gazebo/floodfill_unoccupied" value="true"/>
    <param name="gazebo/floodfill_distance" value="0.2"/>


    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <env name="GAZEBO_MODEL_PATH" value="$(arg model_path)"/>
        <arg name="paused"            value="true"/>
        <arg name="world_name"        value="$(arg world_path)"/>
        <arg name="use_sim_time"      value="true"/>
        <arg name="gui"               value="true" />
        <arg name="debug"             value="false" />
        <arg name="verbose"           value="false"/>
        <arg name="physics"           value="dart"/>
    </include>
</launch>
